@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .headerHover{
    @apply px-2 h-[80%] flex items-center border border-transparent hover:border-white cursor-pointer duration-100
  }
  .footerLink{
    @apply text-sm font-titleFont tracking-wide hover:text-gray-100 cursor-pointer
  }
}

.carousel .control-dots .dot {
  /* background: #000; */
  background: #131921;
  box-shadow: none;
  border-radius: 0%;
  width: 24px;
  height: 6px;
  margin: 0 10px;
  margin-bottom:15%;
}

@media (max-width: 1000px) {
  .control-dots {
    display: none;
  }
}